*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --soft-black-color:#434242;
    --hard-black-color:#222222;
    --white-color:#F9F9F9;
    --blue-color:#87A2FB;
    --purple-color:#6F38C5;
    --green:#0dec50;
    --gray:#9a9c9c;
    --box-shadow:0 5px 5px rgba(0,0,0,.7);
    --border:2px solid rgba(0,0,0,.5);
}

html{
    font-size:62.5%;
}

body{
    background-color: var(--white-color);
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    cursor:pointer;
    color:inherit;
}

.btn{
    width:18rem;
    background-color: var(--purple-color);
    color:var(--white-color);
    font-size:2.4rem;
    cursor: pointer;
    border-radius: 2.6rem;
    border: none;
    outline: none;
}

.btn:hover{
    transform: translateY(.5rem);
    background-color: var(--blue-color);
}

.heading{
    font-size:3rem;
    text-align: center;
    background-color: var(--blue-color);
    -webkit-background-clip: text;
    color:transparent;
    margin-bottom: 2rem;
}

.heading:hover{
    background-color: #6F38C5;
}

.navbar{
    width:100%;
    height:7rem;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:var(--box-shadow);
    background-color: var(--white-color);
    position: sticky;
    top:0;
    z-index:1000;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width:5rem;
    height:5rem;
}

.logo h1{
    font-size:2.4rem;
    color:var(--hard-black-color);
}

.nav-list{
    display: flex;
    gap:20px;
}

.nav-list li a{
    font-size:2.2rem; 
}

.nav-list li a:hover,.nav-list li a.active{
    color:var(--purple-color);
}


.fa-bars{
    font-size: 2.4rem;
    display: none !important;
}

.home{
    height:calc(100vh - 7rem);
    background:url(images/home.jpg) no-repeat;
    background-size:100% 100%;
    background-position:center ;
    position: relative;
}

.homeContent{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding-top:2rem;
}

.homeContentTitle{
    font-size:4.6rem;
    letter-spacing: 1rem;
    color:var(--white-color);
    font-weight: bolder;
    text-align: center;
}

.courses{
    padding:2rem 0;
}

.coursesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}

.coursesBox{
    width:22rem;
    height:26rem;
    border:var(--border);
    padding:0 1.2rem;
    border-radius: .5rem;
}

.courseIcon{
    width:100%;
    height:5rem;
    text-align: center;
    margin-top:2rem;
    margin-bottom:2rem;
    background-color: var(--color);
    -webkit-background-clip: text;
    color:transparent;
    font-size:5rem;
}

.coursesDetailMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:2.2rem;
}

.coursesDetailMainPrice{
    color:var(--green);
}

.coursesDescription p{
    font-size:1.8rem;
    color:var(--gray);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.coursesBox .btn{
    margin-top:1.5rem;
}

.about{
    padding:7rem 3rem 0 3rem;
    height:100vh;
}

.aboutBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.aboutContent{
    width:40%
}

.aboutContentHeading{
    font-size:3rem;
    text-align: center;
    margin-bottom:2rem;
    text-transform: capitalize;
    letter-spacing: .5rem;
}

.aboutContentDesc{
    position: relative;
}

.aboutContentDesc p{
    font-size:2rem;
    color:var(--gray);
    text-align:justify;
}

.aboutContentDesc img{
    width:2rem;
    height:2rem;
    position: absolute;
    top:0;
    left:-2rem;
}


.aboutContentDesc span{
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color:var(--gray);
    font-style: italic;
}

.aboutImage{
    width:60%;
    height:70vh;
}

.teachers{
    padding-top:7rem;
}

.teachersContainer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem;
}

.teacher{
    width:25rem;
    height:38rem;
    border:var(--border);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    background-color: var(--color);
}

.teacher:hover{
    transform:scale(1.2);
}

.teacherImage{
    width:8rem;
    height:8rem;
    border:var(--border);
    border-radius: 50%;
    object-fit: cover;
}

.teacherHeading{
    font-size:2.4rem;
    color:var(--hard-black-color);
}

.teacherSubHeading{
    margin-top:-1.8rem;
    font-size:1.6rem;
    opacity: .5;
}

.teacherDesc{
    font-size:1.8rem;
    text-align: center;
    opacity: .8;
}

.teacherLinks{
    margin-top:5rem;
    display: flex;
    gap:1.5rem;
}

.teacherLinks i{
    font-size:3rem;
    cursor: pointer;
}

.teacherLinks i:nth-child(1){
    color:#3b5998;
}

.teacherLinks i:nth-child(2){
    color:#8a3ab9;
}

.teacherLinks i:nth-child(3){
    color:#fafafa;
}















@media (max-width:768px) {
    html{
        font-size:55%;
    }

    .nav-list{
        position: fixed;
        top:-100rem;
        left:0;
        width:100%;
        background-color: #F9F9F9;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:1rem 0;
    }

    .nav-list.active{
        top:7rem;
    }

    .fa-bars{
        display: block !important;
    }

    .aboutBox{
        flex-flow: column-reverse;
    }

    .aboutContent{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

        .aboutImage{
            width:100%;
        }

         .teachers{
            padding-top:25rem;
        } 
}

@media (max-width:468px) {
    html{
        font-size:50%;
    }

    .coursesBox{
        width:100%;
    }

    .teachers{
        padding-top:25rem;
    } 
}